torch==2.1.0
pyyaml
setuptools
numpy==1.23.5
decorator
scipy
attrs
psutil
torch-npu==2.1.0.post8
transformers==4.44.2
pandas
sentencepiece==0.1.99
monotonic_align
librosa==0.8.0
phonemizer
unidecode
hydra-core==1.3.2
pytorch_lightning==1.1.0
wget
wrapt
onnx
frozendict
inflect
braceexpand
webdataset
torch_stft
sox
editdistance
protobuf==3.20