torch
transformers
pandas
sentencepiece==0.1.99
monotonic_align
librosa==0.8.0
phonemizer
unidecode
hydra-core==1.3.2
pytorch_lightning==1.1.0
wget
wrapt
onnx
frozendict
inflect
braceexpand
webdataset
torch_stft
sox
editdistance
numpy==1.23.5
protobuf==3.20